<!-- sablon vezérlet űrlap: minden a sablonban van, az űrlapot majd submit-nál adjuk át ellenőrzésre -->
<!-- utána ngModel + name elemmel kötöm a mezőket -->
<!-- a validatárokat is itt helyezzük fel -->
<h2>Sablon vezérelt űrlap</h2>
<form novalidate #empForm="ngForm" (ngSubmit)="submit(empForm)">

  Név*: <input name="name" ngModel/><br/>

  <!-- a beágyzott group leképezéshez a ngModelGroup-t hasznáhatjuk-->
  <fieldset name="identifiers" ngModelGroup="ids">
  <legend>Azonosítók</legend>
    Taj*: <input name="ssn" ngModel/><br/>
  </fieldset>

  Születési idő*: <input type="date" name="birthDate" ngModel/><br/>

  Nem:
  <ng-container *ngFor="let sex of sexes">
    <input name="sex" type="radio" [value]="sex.id" ngModel>{{sex.name}}
  </ng-container><br/>

  Családi állapot:
  <select name="status" ngModel>
    <ng-container *ngFor="let status of statuses">
      <option [value]="status.id">{{status.name}}</option>
    </ng-container><br/>
  </select><br/>


  <button type="submit">Beküldés</button>
</form>
